################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library Book Queue/.vs/Library Book Queue/v15/Browse.VC.opendb
